.bottom_frame {
    background-color: #333;
    height: 75px;
    position: fixed;
    bottom: 1%;
    width: 99%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    left: 0.5%;
}

.bottom_bar {
    background-color: #333;
    height: 75px;
    position: fixed;
    bottom: 1.5%;
    width: 99%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    left: 0.5%;
}

.bottom_bar a {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;       /* The same as your div height */
    text-decoration: none;
}

.play_button {
    background-color: green;
    color: black;
    width: 30%;
    transform: translate(115%, 0);
    font-size: 300%;
    text-align: center;
}

.play_button:hover {
    background-color: rgb(0, 100, 0);
}

.play_button a {
    text-decoration: none;
    text-align: center;
}

.build_info {
    float: right;
    height: 100%;
    width: 20%;
    transform: translate(-1%, -100%);
    text-align: right;
    font-size: 15px;
    color: white;
}

.account_info {
    float: left;
    height: 100%;
    width: 20%;
    transform: translate(1%, 0%);
    text-align: left;
    font-size: 15px;
    color: white;
}