.modifications_holder {
    background-color: white;
    width: 80%;
    height: 70%;
    overflow: scroll;
    transform: translate(0%, 50%);
}

.mod {
    text-align: left;
    height: 100px;
    background-color: turquoise;
    border-radius: 10px;
}

.mod_title {
    transform: translate(5%, 150%);
}

.mod_desc {
    transform: translate(5%, 150%);
}