body {
    background-color: #00ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("/static/images/mclogo.png");
    background-size: 500px;
    animation: 30s linear 0s normal none infinite animate;
    animation-name: animate;
}

@keyframes animate{
    from{background-position:0 0}
    to{background-position:-500px 500px}
}



.help {

    background-color: cyan;
    width: 80%;
    height: auto;
    text-align: left;
    transform: translate(10%, 80%);
    font-size: 20px;
    border: 3px solid gray;

}

.changelog {

    background-color: cyan;
    width: 80%;
    height: auto;
    text-align: left;
    transform: translate(10%, 120%);
    font-size: 20px;
    border: 3px solid gray;

}